@font-face {
	font-family: "Inter";
	src: url("./assets/fonts/Inter-ExtraBold.ttf");
	font-weight: bolder
}
@font-face {
	font-family: "Inter";
	src: url("./assets/fonts/Inter-Light.ttf");
	font-weight: lighter;
}
@font-face {
	font-family: "Inter";
	src: url("./assets/fonts/Inter-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Inter";
	src: url("./assets/fonts/Inter-Regular.ttf");
}

* {
	font-family: "Inter";
	list-style-type: none;
}