@font-face {
	font-family: "Genshin";
	src: url("./assets/fonts/genshin.ttf");
}

* {
	font-family: "Genshin";
	list-style-type: none;
}
/* 
.MuiInputBase-input, .MuiInput-input {
	padding: 0px 0px 7px !important;
}

#primos {
	vertical-align: text-top;
} */

